*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    Botom para el menú
*/

.menu-btn{
    position: absolute;
    top: 16px;
    right: 35px;
    cursor: pointer;
    z-index: 2;
    display: none;
}

/*
    header
*/

body{
    background: #000;
    color: #fff;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23ff2200' fill-opacity='0.1'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

/*
    Estilos de navegación
*/

.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width: 50px;
}

/*
    navegación izquierda
*/
.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}

.nav-main ul li a{
    padding: 2px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu{
    flex: 1;    
    margin-left: 20px;
}

/*
    show case
*/

hr{
    margin: 10px 0;
}

.showcase{
    width: 100%;
    height: 550px;
    background: url('../img/showcase2.jpg') no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid#fff;
    margin: 10px 0;
}

.btn:hover{
    opacity: .7;
}

.showcase h2,
.showcase p{
    margin-bottom: 10px;
}

/*
    News Cards
*/

.new-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}

.new-cards img{
    width: 100%;
    height: 180px;
}

.new-cards h3{
    font-size: 20px;
    margin: 10px 0;

}

.new-cards a{
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.new-cards a:hover{
    text-decoration: underline;
}

/*
    Cards Banner One
*/

.cards-banner-one{
    width: 100%;
    height: 350px;
    background: url('../img/tech-red.jpg');
    margin-bottom: 40px;
}

.cards-banner-one .content{
    width: 50%;
    padding: 90px 0 0 30px;
    color: #fff;
}

.cards-banner-one p,
.cards-banner-one h2{
    margin: 10px 0 20px 0;
}

/*
    Cards Banner Two
*/
.cards-banner-two{
    background: url('../img/image-five.jpg') no-repeat center center/cover;
    width: 100%;
    height: 350px;    
    margin-bottom: 40px;
}

.cards-banner-two .content{
    width: 50%;
    padding: 100px 0 0 30px;
    color: #fff;
}

.cards-banner-two p,
.cards-banner-two h2{
    margin: 10px 0 20px 0;
}

/*
    Social
*/
.social{
    margin: 50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a{
    margin: 0 30px;
}

.links a i{
    font-size: 3rem;
}

/*
    Footer
*/
.footer-links{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.footer-container ul{
    margin: 0 auto;

}

.footer-container ul li{
    line-height: 2.8;
}

/*
    impementando mediaquerys
*/

@media screen and (max-width: 780px){

    /*
        cambios en el icono de busqueda
    */

    .nav-main ul.nav-menu-right{
        margin-right: 40px;
    }

    .menu-btn{
        display: block;
    }
    /*
        cambios del RDW
    */
    .nav-main ul.nav-menu{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background: #2f3640;
        opacity: .9;
        height: 100%;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform .9s;
    }

    .nav-main ul.nav-menu li{
        padding: 20px;
        border-bottom: 2px solid #fff;
    }

    .new-cards, .footer-container{
        grid-template-columns: repeat(2,1fr);
    }

    .cards-banner-one .content{
        width: 90%;
    }

    .cards-banner-two .content{
        width: 90%;
    }

    /*
        creando la clase que se adicionara al menu-btn
        a fin de que aparezca el menu
    */

    .nav-main ul.nav-menu.show{
        transform: translateX(-20px);
    }
}

@media screen and (max-width: 500px) {

    .new-cards, .footer-container{
        grid-template-columns: 1fr ;
    }

    .new-cards img{
        height: 270px;
    }

    .menu-btn{
        right: 20px;
    }

    .cards-banner-one .content,
    .cards-banner-two .content{
        width: 100%;
        padding: 40px 20px;
    }
}